img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
}
img:hover {
  cursor: pointer;
  outline: 2px solid blue;
}
img:active {
  transform: translate(3px, 3px);
}
